html, body {
    margin: 0;
    padding: 0;
  }
  
  #map {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  #selectContainer {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 11px 0;
  }
  
  #countrySelect {
    width: 200px;
    margin: 0 auto;
  }

  .wrapper{
    width: 370px;
    padding: 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow : 7px 7px 20px rgba(0, 0, 0, 0.05);
  }
  
  .wrapper header{
    font-size: 28px;
    font-weight:500;
    text-align:center;
  
  }
  .wrapper form{
    margin:40px 0 20px 0;
  }
  
  form :where(input, select,button){
  width: 100px;
  outline:none;
  border-radius:5px;
  border:none;
  
  }
  form p{
    font-size: 18px;
    margin-bottom: 5px;
  }
  form input{
    height:50px;
    font-size:17px;
    padding:0 15px;
    border:1px solid #999;
  }
   form input:focus{
    padding:0 14px;
    border: 2px solid white;
   }
  
   form .drop-list{
    display:flex;
    margin-top:20px;
    align-items:center;
    justify-content: space-between;
  }
  
  .drop-list .select-box{
    display: flex;
    height:45px;
    width:115px;
    border-radius: 5px;
    align-items:center;
    justify-content: center;
    border:1px solid #999;
  
  }
  
  .Select-box img{
    max-width:21px;
    margin-right: 10px;
  }
  
  .Select-box select{
  width:auto;
  font-size:16px;
  background:none;
  margin:0 -5px 0 5px; 
  }

  .Select-box {
    display: flex;
    align-items: center;
  }
  

  .select-box select::-webkit-scrollbar{
    width: 8px;
  }
  
  .select-box select::-webkit-scrollbar-track{
    background: #fff;
  }
  
  .select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right:2px solid #fff;
  }
  
  
  
  .drop-list .icon{
    cursor: pointer;
    font-size:22px;
    margin-top: 30px;
  }
  
  form .exchange-rate{
    font-size:17px;
    margin:20px 0 30px;
  
  }
  form button{
    height:52px;
    color:#fff;
    font-size: 17px;
    cursor: pointer;
    background: white;
    transition: 0.3s ease;
  
  }
   form button:hover{
    background: white;
   }